/* 
    Created on : 11/09/2016, 12:45:25
    Author     : adson
*/

/* FOOTER */
#f {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2f2f2f;
	color: white;
}

#f h5 {
	margin-top: 30px;
	letter-spacing: 1px;
}

#f i {
	font-size: 45px;
	margin: 15px;
}

#f a {
	color: #b9b9b9;
}

#f a:hover {
	color: #03C9A9;
}

/*Services*/
.services {
    padding: 50px 0;
}

.bg-primary {
    color: #F4F4F4;
    background-color: #F4F4F4;
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.text-primary {
    color: #747B83;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#f h5 {
    margin-top: 30px;
    letter-spacing: 1px;
}

.mt {
    margin-top: 50px;
}