/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/10/2016, 22:30:30
    Author     : adson
*/

/* Header 
----------------------------------------------*/
.header {
    background: #FF6357 !important;
    position: fixed !important;
    border-bottom: 1px solid #F57676;
}

/*--- Banner ----*/
.banner-container {
    background: url(../img/header.jpg) no-repeat center top;
    padding-top: 180px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 380px;
    width: 100%;
    color: white;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-container > img {
    width: 100%;
}

/*Search Bar*/
#search-bar {
    padding-top:10px;
    background:#fff;
    border-width: 1px;
    border-style: solid;
    border-color: #C6C6C6;
    background-color: #fff;
    margin-top: 75px;
}

.search-input {
    float: left;
    min-width: 300px;
    width: 40%;
    text-align: left;
    margin-right: 12px;
}

input, select {
    color: #5a5a5a;
    font-size: 16px;
    min-height: 40px;
    border-radius: 7px;
    line-height: 20px;
    padding: 15px 30px 16px;
    border: 1px solid #b9b9af;
    margin-bottom: 10px;
    background-color: #fff;
    opacity: 0.9;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.btn-input {
    background: #FF6357;
    color: white;
    font-weight: 900;
}

.btn-conf {
    border-radius: 7px;
    margin-right: 15px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 18px 28px 17px 28px;
}

/*----section content*/
.sec-content {
    padding: 20px 0;
}

.profile-card{
    background-color: #fff;
    padding:30px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.profile-inf{
    margin-bottom: 0px !important;
}

.mg-rt{
    margin-right: 20px;
}

.mg-left{
    margin-left: 20px;
}

.w400{
    font-weight: 400;
}

.w600{
    font-weight: 600;
}

.foto-profile{
    width: 120px;
    height: 120px;
}

ul{
    list-style: none;
}

.sec-content li{
    padding-bottom: 10px;
}

.btn-contact{
    background-color: #17B5D4;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.btn-contact a{
    font-weight: 600;
    color: #FFF;
}

.p-inf{
    font-size: 14px;
}

.mg-0{
    margin: 0px !important; 
}

.mg-top-15{
    margin-top: 15px;
}

.price-section{
    background: #f3f3f3;
    border-radius: 300px;
    font-size: 10px;
    margin-top: 20px;
}


/*------EDIT----*/

.edit{
    cursor: pointer;
}

.edit:hover{
    background: #f3f3f3;
}

.mg-top-75{
    margin-top: 75px;
}

.sp-option-menu{
    float: right;
    margin: 0px 5px 0px 5px;
    display: none;
}

.edit:hover .sp-option-menu{
    display: block;
}

.sub-header h4{
    display: inline;
}

.tooltip-sub-header{
    float: right
}